@use 'base/variables' as v;
@use 'base/mixins' as m;

@use 'sass:color';

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
        @include m.tablet {
            overflow: scroll;
        }
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/spa4.png);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .imagen-landing {
        height: 20rem;
        background-image: url(../img/inicio.png);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
    }
}

.barra {
    margin: 1rem;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton {
        @include m.boton(v.$pastel, v.$blanco);
        margin: 1.5rem;
        padding: 1rem;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: color.mix(v.$negro, v.$pastel, 10%);
        }
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton {
        margin: 0 0 1rem 0;
    }
}
